@charset "UTF-8";
body {
	background-image: url(images/bg.jpg);
	background-repeat: repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#333333;
}

.wrapper{
	position: relative;
	width: 975px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #FFFFFF;
	background-image: url(images/wrapper-bg.gif);
	background-repeat: repeat-y;
	background-position: left;
	background-color: #FFFFFF;
	margin-bottom: 10px;
}

.header{
	width: 975px;
	height: 113px;
	background-image: url(images/header-bg.jpg);
	background-position: left;
	background-repeat: repeat-y;
	background-color: #282828;
}

.header-top-right{
	float: right;
	padding-top: 5px;
	padding-left: 3px;
	font-size: 10px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	
}


.logo{
	width: 370px;
	height: 63px;
	float: left;
	padding-top: 50px;
	padding-left: 30px;
	color: #FFFFFF;
	font-size: 34px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

.logo-light{
	color: #bababb;
	font-size: 20px;
}

h1.logo{
	color: #FFFFFF;
	font-size: 34px;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}


.navigation{
	width: 565px;
	float: left;
	height: 33px;
	padding-top: 64px;
	padding-right: 10px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
}

.navigation ul{
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}

.navigation li{
	display: inline;
}

.navigation a{
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 8px;
	margin-right: 8px;
}

.navigation a:hover{
	color: #bababb;
	text-decoration: none;
	margin-left: 8px;
	margin-right: 8px;
}

.middle-left{
	width: 397px;
	height: 230px;
	float: left;
	background-image: url(images/middle-left-bg.jpg);
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 30px;
	padding-right: 80px;
	color: #FFFFFF;
}

.middle-left h1, .middle-left h2, .middle-left h3, .middle-left h4{
	font-weight: normal;
	color: #FFFFFF;
}

.middle-right{
	width: 461px;
	height: 254px;
	float: left;
	padding-left: 7px;
	padding-top: 7px;
}

.main{
	width: 975px;
}

.main-left{
	width: 515px;
	float: left;
	padding-left: 30px;
	padding-top: 20px;
	padding-right: 60px;
	padding-bottom: 20px;
}

.main-right{
	width: 303px;
	margin-top: 10px;
	margin-right: 7px;
	float: left;
	background-color: #7c7c7c;
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.main-right h1, .main-right h2, .main-right h3, .main-right h4{
	color: #FFFFFF;
}

.seperater{
	height: 20px;
	clear: both;
}

.footer{
	width: 975px;
	height: 80px;
	background-image: url(images/header-bg.jpg);
	background-position: left;
	background-repeat: repeat-y;
	background-color: #282828;
	color: #CCCCCC;
	padding-top: 15px;
}

.footer-left{
	width: 270px;
	float: left;
	padding-left: 30px;
}

.footer-right{
	width: 645px;
	float: left;
	text-align: right;
	padding-right: 30px;
}

.footer a{
	color: #CCCCCC;
	text-decoration: none;
}

.footer a:hover{
	color: #999999;
	text-decoration: none;
}

.footer-right a{
	margin-left: 5px;
	margin-right: 5px;
}

.footer ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.footer li{
	display: inline;
}

.footer p{
	padding: 0px;
	margin: 0px;
}

h1{
	font-size: 24px;
	font-weight: normal;
	color: #3a3a3b;
	letter-spacing: -1px;
	padding-top: 0px;
	margin-top: 0px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

h2{
	font-size: 20px;
	font-weight: normal;
	color: #3a3a3b;
	letter-spacing: -1px;
	padding-top: 0px;
	margin-top: 0px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

h3{
	font-size: 18px;
	font-weight: normal;
	color: #3a3a3b;
	letter-spacing: -1px;
	padding-top: 0px;
	margin-top: 0px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

h4{
	font-size: 16px;
	font-weight: normal;
	color: #3a3a3b;
	letter-spacing: -1px;
	padding-top: 0px;
	margin-top: 0px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}

p{
	font-size: 12px;
	line-height: 18px;
}

ul{
	font-size: 12px;
	line-height: 24px;
}

a{
	color: #666666;
	text-decoration: none;
}

a:hover{
	color: #999999;
	text-decoration: none;
}

.small{
	font-size: 11px;
